<table class="table table-striped">
  <thead>
    <tr>	
		<th>Currency Name</th>
		<th>Threshold</th>
		<th>Voucher Value</th>
		<th>Number of Vouchers</th>
		<th>Earn on Free</th>
		<th>Auto Burn</th>
		<th>Auto Voucher</th>
		<th>Earn Adjustment</th>
		<th>Burn Adjustment</th>				
		<th>Tell POS Voucher on next Visit</th>	
		<th>Context</th>
		<th>Actions</th>		
	</tr>
  </thead>
  <tbody>
	<% for t in @triggers %>
		<tr>
			<td>
				<%= link_to t.currency_name, trigger_path(t) %>
			</td>	
			<td>
				<%= t.threshold %>
			</td>
			<td>
				<%= t.voucher_value %>
			</td>
			<td>
				<%= t.number_of_vouchers %>
			</td>
			<td>
				<%= t.earn_on_free %>
			</td>
			<td>
				<%= t.auto_burn %>
			</td>
			<td>
				<%= t.auto_voucher %>
			</td>
			<td>
				<%= t.earn_adjustment %>
			</td>
			<td>
				<%= t.burn_adj %>
			</td>
			<td>
				<%= t.potential_voucher_on_threshold %>
			</td>
			<td>
				<%= t.earn_context %>
			</td>
			<td><%= link_to 'Edit', edit_trigger_path(t)%></td>
		</tr>
	<%end%>	
</table>
<%= link_to 'New Currency Trigger', new_trigger_path %>