
<table class="table table-striped">
  <thead>
    <tr>	
		<th>Name</th>
		<th>Currency</th>
		<th>Balance</th>
		<th>Qty Purchased</th>
		<th>Total Free</th>
		<th>Vouchers</th>		
		<th>On Next Purchase</th>			
		<th>Actions</th>		
	</tr>
  </thead>
  <tbody>
	<% for m in @members %>
		<% if m.currencies.empty? %>
			<td>
				<%= link_to m.name, member_path(m) %>
			</td>
		<%end%>
		<% for currency in m.currencies %>
			<tr>
				<td>
					<%= link_to m.name, member_path(m) %>
				</td>	
				<td>
					<%= currency.name %>
				</td>
				
				<td>
					<%= currency.points %>
				</td>	
				<td>
					<%= currency.total_pts %>
				</td>	
				<td>
					<%= currency.total_free %>
				</td>
				<td>
					<% for card in currency.cards %>
					<p>
						Unit: <%= card.unit%>
						Burned: <%= card.burned %>
						<% if !card.burned %>				
							<%= link_to 'Burn', burn_card_member_path(m, :currency => currency.id, :card => card.id), :method => :post%>
						<% end %>
					</p>
					<% end %>
				</td>									
				<td>
					<%= currency.voucher_on_next %>					
				</td>	
				<td>
					<%= link_to 'Edit', edit_member_path(m)%>
					<%= link_to 'Reset', reset_member_path(m), :method => :post%>
				</td>
			</tr>
		<% end %>

	<%end%>	
</table>